In [2]:
import pandas as pd
import numpy as np

In [3]:
actor_names = ['Jan Nowak', 'Steve Jobs', 'Tom Cruise']
actor_ages = [22, 55, 61]
actors = pd.Series(data=actor_ages, index=actor_names)

In [4]:
actors

Jan Nowak     22
Steve Jobs    55
Tom Cruise    61
dtype: int64

In [10]:
actors_dict = dict(zip(actor_names, actor_ages))

In [11]:
zipped_series = pd.Series(actors_dict)

In [12]:
zipped_series

Jan Nowak     22
Steve Jobs    55
Tom Cruise    61
dtype: int64

In [13]:
print(actors_dict)

{'Jan Nowak': 22, 'Steve Jobs': 55, 'Tom Cruise': 61}

In [14]:
my_list = pd.Series(range(50))

In [15]:
my_list.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [16]:
long_s = pd.Series(range(1000))

In [17]:
long_s

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Length: 1000, dtype: int64

In [20]:
pd.options.display.min_rows = 10

In [21]:
long_s

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Length: 1000, dtype: int64

In [30]:
from string import ascii_lowercase
s = pd.Series(data=range(len(ascii_lowercase)), index=list(ascii_lowercase))

In [31]:
s

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [32]:
s.add_prefix('label_')

label_a     0
label_b     1
label_c     2
label_d     3
label_e     4
label_f     5
label_g     6
label_h     7
label_i     8
label_j     9
label_k    10
label_l    11
label_m    12
label_n    13
label_o    14
label_p    15
label_q    16
label_r    17
label_s    18
label_t    19
label_u    20
label_v    21
label_w    22
label_x    23
label_y    24
label_z    25
dtype: int64

In [33]:
s.add_suffix('_hehe')

a_hehe     0
b_hehe     1
c_hehe     2
d_hehe     3
e_hehe     4
f_hehe     5
g_hehe     6
h_hehe     7
i_hehe     8
j_hehe     9
k_hehe    10
l_hehe    11
m_hehe    12
n_hehe    13
o_hehe    14
p_hehe    15
q_hehe    16
r_hehe    17
s_hehe    18
t_hehe    19
u_hehe    20
v_hehe    21
w_hehe    22
x_hehe    23
y_hehe    24
z_hehe    25
dtype: int64

In [35]:
pd.Series(['a', 'b', 'c', 'd', 'e', 'f'])[[True if x%3==0 else False for x in range(6)]]

0    a
3    d
dtype: object

In [38]:
type(s[0])

numpy.int64

In [39]:
new_s = pd.Series(['ab','ad','fds'])

In [40]:
type(new_s.iloc[0])

str

In [41]:
type(new_s.loc[0])

str

In [42]:
type(new_s[0])

str

In [43]:
new_s

0     ab
1     ad
2    fds
dtype: object

In [44]:
new_ss = pd.Series(dict(zip(['a', 'b', 'c'], ['A', 'B', 'C'])))

In [45]:
new_ss

a    A
b    B
c    C
dtype: object

In [46]:
new_ss[1:]

b    B
c    C
dtype: object

In [47]:
new_ss.iloc[1:]

b    B
c    C
dtype: object

In [48]:
new_ss.loc['b':]

b    B
c    C
dtype: object

In [49]:
new_ss.iloc[1:]

b    B
c    C
dtype: object

In [50]:
s.size

26

In [52]:
s.loc[lambda x: [True for i in range(len(s))]]

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [53]:
s.loc[lambda x: [True for i in range(x.size)]]

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [54]:
def every_fifth(x):
    return [True if i%5==0 else False for i in range(x.size)]

In [55]:
s.loc[every_fifth]

a     0
f     5
k    10
p    15
u    20
z    25
dtype: int64

In [56]:
squares = [x*x for x in range(100)]

In [57]:
squares

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [60]:
squares = pd.Series(squares)

In [61]:
squares.tail(3)

97    9409
98    9604
99    9801
dtype: int64

In [63]:
squares[-3:]

97    9409
98    9604
99    9801
dtype: int64

In [65]:
squares.tail(3).equals(squares[-3:])

True

In [78]:
#/Users/bartoszpiechnik/Desktop/pandas-bootcamp/slides/3. Series Methods And Handling


drinks = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/slides/3. Series Methods And Handling/drinks.csv",
                     usecols=['country', 'wine_servings'], index_col='country', squeeze=True)

#drinks = pd.read_csv('https://andybek.com/pandas-drinks')

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_10149/4099952946.py:4: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  drinks = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/slides/3. Series Methods And Handling/drinks.csv",

In [79]:
drinks

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [80]:
type(drinks)

pandas.core.series.Series

In [83]:
pd.Series([3,2,1]).is_monotonic

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_10149/3985501847.py:1: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  pd.Series([3,2,1]).is_monotonic

False

In [84]:
alcohol

NameError: name 'alcohol' is not defined

In [89]:
drinks.nunique()

71

In [93]:
drinks[drinks.isnull()].index.to_list()

['Afghanistan',
 'Bangladesh',
 'Bhutan',
 'Burundi',
 'North Korea',
 'Eritrea',
 'Ethiopia',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Kuwait',
 'Lesotho',
 'Libya',
 'Malaysia',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Myanmar',
 'Nepal',
 'Pakistan',
 'Rwanda',
 'San Marino',
 'Saudi Arabia',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Tajikistan',
 'Uganda',
 'Yemen']

In [94]:
sum([True, False, True])

2

In [95]:
drinks.isnull().sum()

31

In [96]:
all = drinks.size
non_nulls = drinks.count()
nulls_only = drinks.isnull().sum()
all == non_nulls + nulls_only

True

In [99]:
wine_servings = drinks[drinks.notnull()]

In [101]:
wine_servings.sum()

8221.0

In [102]:
wine_servings.head(10)

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Argentina            221.0
Armenia               11.0
Australia            212.0
Austria              191.0
Azerbaijan             5.0
Name: wine_servings, dtype: float64

In [103]:
wine_servings[wine_servings < 100].sum()

2416.0

In [104]:
wine_servings.mean()

50.74691358024691

In [105]:
wine_servings.mode()

0    1.0
Name: wine_servings, dtype: float64

In [106]:
wine_servings.median()

11.5

In [109]:
import matplotlib
wine_servings.hist()

ModuleNotFoundError: No module named 'matplotlib'

In [110]:
wine_servings.describe()

count    162.000000
mean      50.746914
std       76.134917
min        1.000000
25%        3.000000
50%       11.500000
75%       61.250000
max      339.000000
Name: wine_servings, dtype: float64

In [115]:
wine_servings.value_counts(normalize=True)

1.0      0.172840
2.0      0.061728
7.0      0.055556
8.0      0.043210
5.0      0.037037
           ...
218.0    0.006173
185.0    0.006173
78.0     0.006173
165.0    0.006173
22.0     0.006173
Name: wine_servings, Length: 71, dtype: float64

In [116]:
wine_servings.value_counts()

1.0      28
2.0      10
7.0       9
8.0       7
5.0       6
         ..
218.0     1
185.0     1
78.0      1
165.0     1
22.0      1
Name: wine_servings, Length: 71, dtype: int64

In [119]:
wine_servings[wine_servings == wine_servings.max()].index[0]

'Portugal'

In [120]:
wine_servings.idxmax()

'Portugal'

In [122]:
wine_servings.idxmin()

'Brunei'

In [123]:
wine_servings[wine_servings.idxmax()]

339.0

In [126]:
wine_servings.sort_values(ascending=False).head(10)

country
Portugal             339.0
Andorra              312.0
Denmark              278.0
Slovenia             276.0
Luxembourg           271.0
Croatia              254.0
Italy                237.0
Equatorial Guinea    233.0
Argentina            221.0
Greece               218.0
Name: wine_servings, dtype: float64

In [127]:
fifty_plus = wine_servings[wine_servings > 50]

In [129]:
smallest = fifty_plus.nsmallest(20)

In [130]:
smallest.std()

19.07292100831631

In [131]:
smallest.median()

73.5

In [132]:
smallest.mode()

0    51.0
1    56.0
2    59.0
3    74.0
Name: wine_servings, dtype: float64

In [133]:
fifty_plus

country
Albania                54.0
Andorra               312.0
Argentina             221.0
Australia             212.0
Austria               191.0
Bahamas                51.0
Belgium               212.0
Bulgaria               94.0
Chile                 172.0
Cook Islands           74.0
Croatia               254.0
Cyprus                113.0
Czech Republic        134.0
Denmark               278.0
Equatorial Guinea     233.0
Estonia                59.0
Finland                97.0
Gabon                  59.0
Georgia               149.0
Germany               175.0
Greece                218.0
Hungary               185.0
Iceland                78.0
Ireland               165.0
Italy                 237.0
Laos                  123.0
Latvia                 62.0
Lithuania              56.0
Luxembourg            271.0
Montenegro            128.0
New Zealand           175.0
Norway                129.0
Paraguay               74.0
Poland                 56.0
Portugal              339.0
Romania               167.0
Russian Federation     73.0
St. Lucia              71.0
Serbia                127.0
Seychelles             51.0
Slovakia              116.0
Slovenia              276.0
South Africa           81.0
Spain                 112.0
Sweden                186.0
Macedonia              86.0
United Kingdom        195.0
USA                    84.0
Name: wine_servings, dtype: float64

In [134]:
more_drinks = pd.Series({'Albania': 1000, 'Argentina': 2000})

In [135]:
fifty_plus.add(more_drinks, fill_value=0)

Albania               1054.0
Andorra                312.0
Argentina             2221.0
Australia              212.0
Austria                191.0
Bahamas                 51.0
Belgium                212.0
Bulgaria                94.0
Chile                  172.0
Cook Islands            74.0
Croatia                254.0
Cyprus                 113.0
Czech Republic         134.0
Denmark                278.0
Equatorial Guinea      233.0
Estonia                 59.0
Finland                 97.0
Gabon                   59.0
Georgia                149.0
Germany                175.0
Greece                 218.0
Hungary                185.0
Iceland                 78.0
Ireland                165.0
Italy                  237.0
Laos                   123.0
Latvia                  62.0
Lithuania               56.0
Luxembourg             271.0
Macedonia               86.0
Montenegro             128.0
New Zealand            175.0
Norway                 129.0
Paraguay                74.0
Poland                  56.0
Portugal               339.0
Romania                167.0
Russian Federation      73.0
Serbia                 127.0
Seychelles              51.0
Slovakia               116.0
Slovenia               276.0
South Africa            81.0
Spain                  112.0
St. Lucia               71.0
Sweden                 186.0
USA                     84.0
United Kingdom         195.0
dtype: float64

In [136]:
ser = pd.Series([1,2,3,4,5])

In [137]:
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [139]:
ser.cumsum()

0     1
1     3
2     6
3    10
4    15
dtype: int64

In [140]:
ser.cummin()

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [141]:
ser.cummax()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [144]:
ser.diff(periods=-1)

0   -1.0
1   -1.0
2   -1.0
3   -1.0
4    NaN
dtype: float64

In [145]:
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [146]:
drinks

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [148]:
for i in drinks.iteritems():
    print(i)

('Afghanistan', nan)
('Albania', 54.0)
('Algeria', 14.0)
('Andorra', 312.0)
('Angola', 45.0)
('Antigua & Barbuda', 45.0)
('Argentina', 221.0)
('Armenia', 11.0)
('Australia', 212.0)
('Austria', 191.0)
('Azerbaijan', 5.0)
('Bahamas', 51.0)
('Bahrain', 7.0)
('Bangladesh', nan)
('Barbados', 36.0)
('Belarus', 42.0)
('Belgium', 212.0)
('Belize', 8.0)
('Benin', 13.0)
('Bhutan', nan)
('Bolivia', 8.0)
('Bosnia-Herzegovina', 8.0)
('Botswana', 35.0)
('Brazil', 16.0)
('Brunei', 1.0)
('Bulgaria', 94.0)
('Burkina Faso', 7.0)
('Burundi', nan)
("Cote d'Ivoire", 7.0)
('Cabo Verde', 16.0)
('Cambodia', 1.0)
('Cameroon', 4.0)
('Canada', 1.0)
('Central African Republic', 1.0)
('Chad', 1.0)
('Chile', 172.0)
('China', 8.0)
('Colombia', 3.0)
('Comoros', 1.0)
('Congo', 9.0)
('Cook Islands', 74.0)
('Costa Rica', 11.0)
('Croatia', 254.0)
('Cuba', 5.0)
('Cyprus', 113.0)
('Czech Republic', 134.0)
('North Korea', nan)
('DR Congo', 1.0)
('Denmark', 278.0)
('Djibouti', 3.0)
('Dominica', 26.0)
('Dominican Republic', 9.0)
('Ecuador', 3.0)
('Egypt', 1.0)
('El Salvador', 2.0)
('Equatorial Guinea', 233.0)
('Eritrea', nan)
('Estonia', 59.0)
('Ethiopia', nan)
('Fiji', 1.0)
('Finland', 97.0)
('France', 37.0)
('Gabon', 59.0)
('Gambia', 1.0)
('Georgia', 149.0)
('Germany', 175.0)
('Ghana', 1.0)
('Greece', 218.0)
('Grenada', 28.0)
('Guatemala', 2.0)
('Guinea', 2.0)
('Guinea-Bissau', 21.0)
('Guyana', 1.0)
('Haiti', 1.0)
('Honduras', 2.0)
('Hungary', 185.0)
('Iceland', 78.0)
('India', nan)
('Indonesia', nan)
('Iran', nan)
('Iraq', nan)
('Ireland', 165.0)
('Israel', 9.0)
('Italy', 237.0)
('Jamaica', 9.0)
('Japan', 16.0)
('Jordan', 1.0)
('Kazakhstan', 12.0)
('Kenya', 2.0)
('Kiribati', 1.0)
('Kuwait', nan)
('Kyrgyzstan', 6.0)
('Laos', 123.0)
('Latvia', 62.0)
('Lebanon', 31.0)
('Lesotho', nan)
('Liberia', 2.0)
('Libya', nan)
('Lithuania', 56.0)
('Luxembourg', 271.0)
('Madagascar', 4.0)
('Malawi', 1.0)
('Malaysia', nan)
('Maldives', nan)
('Mali', 1.0)
('Malta', 12.0)
('Marshall Islands', nan)
('Mauritania', nan)
('Mauritius', 18.0)
('Mexico', 5.0)
('Micronesia', 18.0)
('Monaco', nan)
('Mongolia', 8.0)
('Montenegro', 128.0)
('Morocco', 1.0)
('Mozambique', 5.0)
('Myanmar', nan)
('Namibia', 1.0)
('Nauru', 8.0)
('Nepal', nan)
('Netherlands', 19.0)
('New Zealand', 175.0)
('Nicaragua', 1.0)
('Niger', 1.0)
('Nigeria', 2.0)
('Niue', 7.0)
('Norway', 129.0)
('Oman', 1.0)
('Pakistan', nan)
('Palau', 23.0)
('Panama', 18.0)
('Papua New Guinea', 1.0)
('Paraguay', 74.0)
('Peru', 21.0)
('Philippines', 1.0)
('Poland', 56.0)
('Portugal', 339.0)
('Qatar', 7.0)
('South Korea', 9.0)
('Moldova', 18.0)
('Romania', 167.0)
('Russian Federation', 73.0)
('Rwanda', nan)
('St. Kitts & Nevis', 32.0)
('St. Lucia', 71.0)
('St. Vincent & the Grenadines', 11.0)
('Samoa', 24.0)
('San Marino', nan)
('Sao Tome & Principe', 14.0)
('Saudi Arabia', nan)
('Senegal', 7.0)
('Serbia', 127.0)
('Seychelles', 51.0)
('Sierra Leone', 2.0)
('Singapore', 11.0)
('Slovakia', 116.0)
('Slovenia', 276.0)
('Solomon Islands', 1.0)
('Somalia', nan)
('South Africa', 81.0)
('Spain', 112.0)
('Sri Lanka', nan)
('Sudan', nan)
('Suriname', 7.0)
('Swaziland', 2.0)
('Sweden', 186.0)
('Switzerland', 28.0)
('Syria', 16.0)
('Tajikistan', nan)
('Thailand', 1.0)
('Macedonia', 86.0)
('Timor-Leste', 4.0)
('Togo', 19.0)
('Tonga', 5.0)
('Trinidad & Tobago', 7.0)
('Tunisia', 2.0)
('Turkey', 7.0)
('Turkmenistan', 32.0)
('Tuvalu', 9.0)
('Uganda', nan)
('Ukraine', 45.0)
('United Arab Emirates', 5.0)
('United Kingdom', 195.0)
('Tanzania', 1.0)
('USA', 84.0)
('Uruguay', 22.0)
('Uzbekistan', 8.0)
('Vanuatu', 11.0)
('Venezuela', 3.0)
('Vietnam', 1.0)
('Yemen', nan)
('Zambia', 4.0)
('Zimbabwe', 4.0)

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_10149/3543668837.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for i in drinks.iteritems():

In [149]:
drinks.filter(regex='^V')

country
Vanuatu      11.0
Venezuela     3.0
Vietnam       1.0
Name: wine_servings, dtype: float64

In [150]:
drinks.filter(like='stan')

country
Afghanistan      NaN
Kazakhstan      12.0
Kyrgyzstan       6.0
Pakistan         NaN
Tajikistan       NaN
Turkmenistan    32.0
Uzbekistan       8.0
Name: wine_servings, dtype: float64

In [152]:
drinks.filter(items=['Pakistan', 'Uzbekistan'])

country
Pakistan      NaN
Uzbekistan    8.0
Name: wine_servings, dtype: float64

In [154]:
drinks.where(lambda x: x>200).dropna()

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [156]:
drinks.mask(lambda x: x > 200).dropna()

country
Albania              54.0
Algeria              14.0
Angola               45.0
Antigua & Barbuda    45.0
Armenia              11.0
                     ...
Vanuatu              11.0
Venezuela             3.0
Vietnam               1.0
Zambia                4.0
Zimbabwe              4.0
Name: wine_servings, Length: 150, dtype: float64

In [157]:
drinks.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [158]:
drinks['Albania'] = 300

In [159]:
drinks

country
Afghanistan      NaN
Albania        300.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [160]:
drinks.apply(lambda x: x*2)

country
Afghanistan      NaN
Albania        600.0
Algeria         28.0
Andorra        624.0
Angola          90.0
               ...
Venezuela        6.0
Vietnam          2.0
Yemen            NaN
Zambia           8.0
Zimbabwe         8.0
Name: wine_servings, Length: 193, dtype: float64

In [161]:
drinks.apply(np.square)

country
Afghanistan        NaN
Albania        90000.0
Algeria          196.0
Andorra        97344.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [162]:
def multiply_by_itself(x):
    return x*x

drinks.apply(multiply_by_itself)

country
Afghanistan        NaN
Albania        90000.0
Algeria          196.0
Andorra        97344.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [163]:
def multiply_by_self_with_min(x, min_servings):
    if x < min_servings:
        return x*x
    return x

drinks.apply(multiply_by_self_with_min, args=(200,))

country
Afghanistan       NaN
Albania         300.0
Algeria         196.0
Andorra         312.0
Angola         2025.0
                ...
Venezuela         9.0
Vietnam           1.0
Yemen             NaN
Zambia           16.0
Zimbabwe         16.0
Name: wine_servings, Length: 193, dtype: float64

In [164]:
drinks.head()

country
Afghanistan      NaN
Albania        300.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [166]:
drinks.map({300.0: 3.0}, na_action='ignore')

country
Afghanistan    NaN
Albania        3.0
Algeria        NaN
Andorra        NaN
Angola         NaN
              ...
Venezuela      NaN
Vietnam        NaN
Yemen          NaN
Zambia         NaN
Zimbabwe       NaN
Name: wine_servings, Length: 193, dtype: float64

In [167]:
beers = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/slides/3. Series Methods And Handling/drinks.csv",
                     usecols=['country', 'beer_servings'], index_col='country', squeeze=True)

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_10149/1442878427.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  beers = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/slides/3. Series Methods And Handling/drinks.csv",

In [168]:
beers.mean()

102.87078651685393

In [169]:
beers.median()

60.0

In [170]:
beers.std()

100.6457126793478

In [174]:
z_scores = (beers[:10] - beers.mean())/beers.std()

In [175]:
z_scores

country
Afghanistan               NaN
Albania             -0.137818
Algeria             -0.773712
Andorra              1.412174
Angola               1.133970
Antigua & Barbuda   -0.902878
Argentina            0.895510
Armenia             -0.813455
Australia            1.571147
Austria              1.749992
Name: beer_servings, dtype: float64

In [176]:
z_scores.ndim

1

In [178]:
z_scores.shape

(10,)