In [1]:
import pandas as pd
import numpy as np

In [2]:
actor_names = ['Jan Nowak', 'Steve Jobs', 'Tom Cruise']
actor_ages = [22, 55, 61]
actors = pd.Series(data=actor_ages, index=actor_names)

In [3]:
actors

Jan Nowak     22
Steve Jobs    55
Tom Cruise    61
dtype: int64

In [4]:
actors_dict = dict(zip(actor_names, actor_ages))

In [5]:
zipped_series = pd.Series(actors_dict)

In [6]:
zipped_series

Jan Nowak     22
Steve Jobs    55
Tom Cruise    61
dtype: int64

In [7]:
print(actors_dict)

{'Jan Nowak': 22, 'Steve Jobs': 55, 'Tom Cruise': 61}

In [8]:
my_list = pd.Series(range(50))

In [9]:
my_list.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [10]:
long_s = pd.Series(range(1000))

In [11]:
long_s

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Length: 1000, dtype: int64

In [12]:
pd.options.display.min_rows = 10

In [13]:
long_s

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Length: 1000, dtype: int64

In [14]:
from string import ascii_lowercase
s = pd.Series(data=range(len(ascii_lowercase)), index=list(ascii_lowercase))

In [15]:
s

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [16]:
s.add_prefix('label_')

label_a     0
label_b     1
label_c     2
label_d     3
label_e     4
label_f     5
label_g     6
label_h     7
label_i     8
label_j     9
label_k    10
label_l    11
label_m    12
label_n    13
label_o    14
label_p    15
label_q    16
label_r    17
label_s    18
label_t    19
label_u    20
label_v    21
label_w    22
label_x    23
label_y    24
label_z    25
dtype: int64

In [17]:
s.add_suffix('_hehe')

a_hehe     0
b_hehe     1
c_hehe     2
d_hehe     3
e_hehe     4
f_hehe     5
g_hehe     6
h_hehe     7
i_hehe     8
j_hehe     9
k_hehe    10
l_hehe    11
m_hehe    12
n_hehe    13
o_hehe    14
p_hehe    15
q_hehe    16
r_hehe    17
s_hehe    18
t_hehe    19
u_hehe    20
v_hehe    21
w_hehe    22
x_hehe    23
y_hehe    24
z_hehe    25
dtype: int64

In [18]:
pd.Series(['a', 'b', 'c', 'd', 'e', 'f'])[[True if x%3==0 else False for x in range(6)]]

0    a
3    d
dtype: object

In [19]:
type(s[0])

numpy.int64

In [20]:
new_s = pd.Series(['ab','ad','fds'])

In [21]:
type(new_s.iloc[0])

str

In [22]:
type(new_s.loc[0])

str

In [23]:
type(new_s[0])

str

In [24]:
new_s

0     ab
1     ad
2    fds
dtype: object

In [25]:
new_ss = pd.Series(dict(zip(['a', 'b', 'c'], ['A', 'B', 'C'])))

In [26]:
new_ss

a    A
b    B
c    C
dtype: object

In [27]:
new_ss[1:]

b    B
c    C
dtype: object

In [28]:
new_ss.iloc[1:]

b    B
c    C
dtype: object

In [29]:
new_ss.loc['b':]

b    B
c    C
dtype: object

In [30]:
new_ss.iloc[1:]

b    B
c    C
dtype: object

In [31]:
s.size

26

In [32]:
s.loc[lambda x: [True for i in range(len(s))]]

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [33]:
s.loc[lambda x: [True for i in range(x.size)]]

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [34]:
def every_fifth(x):
    return [True if i%5==0 else False for i in range(x.size)]

In [35]:
s.loc[every_fifth]

a     0
f     5
k    10
p    15
u    20
z    25
dtype: int64

In [36]:
squares = [x*x for x in range(100)]

In [37]:
squares

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [38]:
squares = pd.Series(squares)

In [39]:
squares.tail(3)

97    9409
98    9604
99    9801
dtype: int64

In [40]:
squares[-3:]

97    9409
98    9604
99    9801
dtype: int64

In [41]:
squares.tail(3).equals(squares[-3:])

True

In [42]:
#/Users/bartoszpiechnik/Desktop/pandas-bootcamp/slides/3. Series Methods And Handling


drinks = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/slides/3. Series Methods And Handling/drinks.csv",
                     usecols=['country', 'wine_servings'], index_col='country', squeeze=True)

#drinks = pd.read_csv('https://andybek.com/pandas-drinks')

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_2254/4099952946.py:4: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  drinks = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/slides/3. Series Methods And Handling/drinks.csv",

In [43]:
drinks

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [44]:
type(drinks)

pandas.core.series.Series

In [45]:
pd.Series([3,2,1]).is_monotonic

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_2254/3985501847.py:1: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  pd.Series([3,2,1]).is_monotonic

False

In [48]:
drinks.nunique()

71

In [49]:
drinks[drinks.isnull()].index.to_list()

['Afghanistan',
 'Bangladesh',
 'Bhutan',
 'Burundi',
 'North Korea',
 'Eritrea',
 'Ethiopia',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Kuwait',
 'Lesotho',
 'Libya',
 'Malaysia',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Myanmar',
 'Nepal',
 'Pakistan',
 'Rwanda',
 'San Marino',
 'Saudi Arabia',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Tajikistan',
 'Uganda',
 'Yemen']

In [50]:
sum([True, False, True])

2

In [51]:
drinks.isnull().sum()

31

In [52]:
all = drinks.size
non_nulls = drinks.count()
nulls_only = drinks.isnull().sum()
all == non_nulls + nulls_only

True

In [53]:
wine_servings = drinks[drinks.notnull()]

In [54]:
wine_servings.sum()

8221.0

In [55]:
wine_servings.head(10)

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Argentina            221.0
Armenia               11.0
Australia            212.0
Austria              191.0
Azerbaijan             5.0
Name: wine_servings, dtype: float64

In [56]:
wine_servings[wine_servings < 100].sum()

2416.0

In [57]:
wine_servings.mean()

50.74691358024691

In [58]:
wine_servings.mode()

0    1.0
Name: wine_servings, dtype: float64

In [59]:
wine_servings.median()

11.5

In [61]:
wine_servings.describe()

count    162.000000
mean      50.746914
std       76.134917
min        1.000000
25%        3.000000
50%       11.500000
75%       61.250000
max      339.000000
Name: wine_servings, dtype: float64

In [62]:
wine_servings.value_counts(normalize=True)

1.0      0.172840
2.0      0.061728
7.0      0.055556
8.0      0.043210
5.0      0.037037
           ...
218.0    0.006173
185.0    0.006173
78.0     0.006173
165.0    0.006173
22.0     0.006173
Name: wine_servings, Length: 71, dtype: float64

In [63]:
wine_servings.value_counts()

1.0      28
2.0      10
7.0       9
8.0       7
5.0       6
         ..
218.0     1
185.0     1
78.0      1
165.0     1
22.0      1
Name: wine_servings, Length: 71, dtype: int64

In [64]:
wine_servings[wine_servings == wine_servings.max()].index[0]

'Portugal'

In [65]:
wine_servings.idxmax()

'Portugal'

In [66]:
wine_servings.idxmin()

'Brunei'

In [67]:
wine_servings[wine_servings.idxmax()]

339.0

In [68]:
wine_servings.sort_values(ascending=False).head(10)

country
Portugal             339.0
Andorra              312.0
Denmark              278.0
Slovenia             276.0
Luxembourg           271.0
Croatia              254.0
Italy                237.0
Equatorial Guinea    233.0
Argentina            221.0
Greece               218.0
Name: wine_servings, dtype: float64

In [69]:
fifty_plus = wine_servings[wine_servings > 50]

In [70]:
smallest = fifty_plus.nsmallest(20)

In [71]:
smallest.std()

19.07292100831631

In [72]:
smallest.median()

73.5

In [73]:
smallest.mode()

0    51.0
1    56.0
2    59.0
3    74.0
Name: wine_servings, dtype: float64

In [74]:
fifty_plus

country
Albania                54.0
Andorra               312.0
Argentina             221.0
Australia             212.0
Austria               191.0
Bahamas                51.0
Belgium               212.0
Bulgaria               94.0
Chile                 172.0
Cook Islands           74.0
Croatia               254.0
Cyprus                113.0
Czech Republic        134.0
Denmark               278.0
Equatorial Guinea     233.0
Estonia                59.0
Finland                97.0
Gabon                  59.0
Georgia               149.0
Germany               175.0
Greece                218.0
Hungary               185.0
Iceland                78.0
Ireland               165.0
Italy                 237.0
Laos                  123.0
Latvia                 62.0
Lithuania              56.0
Luxembourg            271.0
Montenegro            128.0
New Zealand           175.0
Norway                129.0
Paraguay               74.0
Poland                 56.0
Portugal              339.0
Romania               167.0
Russian Federation     73.0
St. Lucia              71.0
Serbia                127.0
Seychelles             51.0
Slovakia              116.0
Slovenia              276.0
South Africa           81.0
Spain                 112.0
Sweden                186.0
Macedonia              86.0
United Kingdom        195.0
USA                    84.0
Name: wine_servings, dtype: float64

In [75]:
more_drinks = pd.Series({'Albania': 1000, 'Argentina': 2000})

In [76]:
fifty_plus.add(more_drinks, fill_value=0)

Albania               1054.0
Andorra                312.0
Argentina             2221.0
Australia              212.0
Austria                191.0
Bahamas                 51.0
Belgium                212.0
Bulgaria                94.0
Chile                  172.0
Cook Islands            74.0
Croatia                254.0
Cyprus                 113.0
Czech Republic         134.0
Denmark                278.0
Equatorial Guinea      233.0
Estonia                 59.0
Finland                 97.0
Gabon                   59.0
Georgia                149.0
Germany                175.0
Greece                 218.0
Hungary                185.0
Iceland                 78.0
Ireland                165.0
Italy                  237.0
Laos                   123.0
Latvia                  62.0
Lithuania               56.0
Luxembourg             271.0
Macedonia               86.0
Montenegro             128.0
New Zealand            175.0
Norway                 129.0
Paraguay                74.0
Poland                  56.0
Portugal               339.0
Romania                167.0
Russian Federation      73.0
Serbia                 127.0
Seychelles              51.0
Slovakia               116.0
Slovenia               276.0
South Africa            81.0
Spain                  112.0
St. Lucia               71.0
Sweden                 186.0
USA                     84.0
United Kingdom         195.0
dtype: float64

In [77]:
ser = pd.Series([1,2,3,4,5])

In [78]:
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [79]:
ser.cumsum()

0     1
1     3
2     6
3    10
4    15
dtype: int64

In [80]:
ser.cummin()

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [81]:
ser.cummax()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [82]:
ser.diff(periods=-1)

0   -1.0
1   -1.0
2   -1.0
3   -1.0
4    NaN
dtype: float64

In [83]:
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [84]:
drinks

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [85]:
for i in drinks.iteritems():
    print(i)

('Afghanistan', nan)
('Albania', 54.0)
('Algeria', 14.0)
('Andorra', 312.0)
('Angola', 45.0)
('Antigua & Barbuda', 45.0)
('Argentina', 221.0)
('Armenia', 11.0)
('Australia', 212.0)
('Austria', 191.0)
('Azerbaijan', 5.0)
('Bahamas', 51.0)
('Bahrain', 7.0)
('Bangladesh', nan)
('Barbados', 36.0)
('Belarus', 42.0)
('Belgium', 212.0)
('Belize', 8.0)
('Benin', 13.0)
('Bhutan', nan)
('Bolivia', 8.0)
('Bosnia-Herzegovina', 8.0)
('Botswana', 35.0)
('Brazil', 16.0)
('Brunei', 1.0)
('Bulgaria', 94.0)
('Burkina Faso', 7.0)
('Burundi', nan)
("Cote d'Ivoire", 7.0)
('Cabo Verde', 16.0)
('Cambodia', 1.0)
('Cameroon', 4.0)
('Canada', 1.0)
('Central African Republic', 1.0)
('Chad', 1.0)
('Chile', 172.0)
('China', 8.0)
('Colombia', 3.0)
('Comoros', 1.0)
('Congo', 9.0)
('Cook Islands', 74.0)
('Costa Rica', 11.0)
('Croatia', 254.0)
('Cuba', 5.0)
('Cyprus', 113.0)
('Czech Republic', 134.0)
('North Korea', nan)
('DR Congo', 1.0)
('Denmark', 278.0)
('Djibouti', 3.0)
('Dominica', 26.0)
('Dominican Republic', 9.0)
('Ecuador', 3.0)
('Egypt', 1.0)
('El Salvador', 2.0)
('Equatorial Guinea', 233.0)
('Eritrea', nan)
('Estonia', 59.0)
('Ethiopia', nan)
('Fiji', 1.0)
('Finland', 97.0)
('France', 37.0)
('Gabon', 59.0)
('Gambia', 1.0)
('Georgia', 149.0)
('Germany', 175.0)
('Ghana', 1.0)
('Greece', 218.0)
('Grenada', 28.0)
('Guatemala', 2.0)
('Guinea', 2.0)
('Guinea-Bissau', 21.0)
('Guyana', 1.0)
('Haiti', 1.0)
('Honduras', 2.0)
('Hungary', 185.0)
('Iceland', 78.0)
('India', nan)
('Indonesia', nan)
('Iran', nan)
('Iraq', nan)
('Ireland', 165.0)
('Israel', 9.0)
('Italy', 237.0)
('Jamaica', 9.0)
('Japan', 16.0)
('Jordan', 1.0)
('Kazakhstan', 12.0)
('Kenya', 2.0)
('Kiribati', 1.0)
('Kuwait', nan)
('Kyrgyzstan', 6.0)
('Laos', 123.0)
('Latvia', 62.0)
('Lebanon', 31.0)
('Lesotho', nan)
('Liberia', 2.0)
('Libya', nan)
('Lithuania', 56.0)
('Luxembourg', 271.0)
('Madagascar', 4.0)
('Malawi', 1.0)
('Malaysia', nan)
('Maldives', nan)
('Mali', 1.0)
('Malta', 12.0)
('Marshall Islands', nan)
('Mauritania', nan)
('Mauritius', 18.0)
('Mexico', 5.0)
('Micronesia', 18.0)
('Monaco', nan)
('Mongolia', 8.0)
('Montenegro', 128.0)
('Morocco', 1.0)
('Mozambique', 5.0)
('Myanmar', nan)
('Namibia', 1.0)
('Nauru', 8.0)
('Nepal', nan)
('Netherlands', 19.0)
('New Zealand', 175.0)
('Nicaragua', 1.0)
('Niger', 1.0)
('Nigeria', 2.0)
('Niue', 7.0)
('Norway', 129.0)
('Oman', 1.0)
('Pakistan', nan)
('Palau', 23.0)
('Panama', 18.0)
('Papua New Guinea', 1.0)
('Paraguay', 74.0)
('Peru', 21.0)
('Philippines', 1.0)
('Poland', 56.0)
('Portugal', 339.0)
('Qatar', 7.0)
('South Korea', 9.0)
('Moldova', 18.0)
('Romania', 167.0)
('Russian Federation', 73.0)
('Rwanda', nan)
('St. Kitts & Nevis', 32.0)
('St. Lucia', 71.0)
('St. Vincent & the Grenadines', 11.0)
('Samoa', 24.0)
('San Marino', nan)
('Sao Tome & Principe', 14.0)
('Saudi Arabia', nan)
('Senegal', 7.0)
('Serbia', 127.0)
('Seychelles', 51.0)
('Sierra Leone', 2.0)
('Singapore', 11.0)
('Slovakia', 116.0)
('Slovenia', 276.0)
('Solomon Islands', 1.0)
('Somalia', nan)
('South Africa', 81.0)
('Spain', 112.0)
('Sri Lanka', nan)
('Sudan', nan)
('Suriname', 7.0)
('Swaziland', 2.0)
('Sweden', 186.0)
('Switzerland', 28.0)
('Syria', 16.0)
('Tajikistan', nan)
('Thailand', 1.0)
('Macedonia', 86.0)
('Timor-Leste', 4.0)
('Togo', 19.0)
('Tonga', 5.0)
('Trinidad & Tobago', 7.0)
('Tunisia', 2.0)
('Turkey', 7.0)
('Turkmenistan', 32.0)
('Tuvalu', 9.0)
('Uganda', nan)
('Ukraine', 45.0)
('United Arab Emirates', 5.0)
('United Kingdom', 195.0)
('Tanzania', 1.0)
('USA', 84.0)
('Uruguay', 22.0)
('Uzbekistan', 8.0)
('Vanuatu', 11.0)
('Venezuela', 3.0)
('Vietnam', 1.0)
('Yemen', nan)
('Zambia', 4.0)
('Zimbabwe', 4.0)

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_2254/3543668837.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for i in drinks.iteritems():

In [86]:
drinks.filter(regex='^V')

country
Vanuatu      11.0
Venezuela     3.0
Vietnam       1.0
Name: wine_servings, dtype: float64

In [87]:
drinks.filter(like='stan')

country
Afghanistan      NaN
Kazakhstan      12.0
Kyrgyzstan       6.0
Pakistan         NaN
Tajikistan       NaN
Turkmenistan    32.0
Uzbekistan       8.0
Name: wine_servings, dtype: float64

In [88]:
drinks.filter(items=['Pakistan', 'Uzbekistan'])

country
Pakistan      NaN
Uzbekistan    8.0
Name: wine_servings, dtype: float64

In [89]:
drinks.where(lambda x: x>200).dropna()

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [90]:
drinks.mask(lambda x: x > 200).dropna()

country
Albania              54.0
Algeria              14.0
Angola               45.0
Antigua & Barbuda    45.0
Armenia              11.0
                     ...
Vanuatu              11.0
Venezuela             3.0
Vietnam               1.0
Zambia                4.0
Zimbabwe              4.0
Name: wine_servings, Length: 150, dtype: float64

In [91]:
drinks.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [92]:
drinks['Albania'] = 300

In [93]:
drinks

country
Afghanistan      NaN
Albania        300.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [94]:
drinks.apply(lambda x: x*2)

country
Afghanistan      NaN
Albania        600.0
Algeria         28.0
Andorra        624.0
Angola          90.0
               ...
Venezuela        6.0
Vietnam          2.0
Yemen            NaN
Zambia           8.0
Zimbabwe         8.0
Name: wine_servings, Length: 193, dtype: float64

In [95]:
drinks.apply(np.square)

country
Afghanistan        NaN
Albania        90000.0
Algeria          196.0
Andorra        97344.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [96]:
def multiply_by_itself(x):
    return x*x

drinks.apply(multiply_by_itself)

country
Afghanistan        NaN
Albania        90000.0
Algeria          196.0
Andorra        97344.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [97]:
def multiply_by_self_with_min(x, min_servings):
    if x < min_servings:
        return x*x
    return x

drinks.apply(multiply_by_self_with_min, args=(200,))

country
Afghanistan       NaN
Albania         300.0
Algeria         196.0
Andorra         312.0
Angola         2025.0
                ...
Venezuela         9.0
Vietnam           1.0
Yemen             NaN
Zambia           16.0
Zimbabwe         16.0
Name: wine_servings, Length: 193, dtype: float64

In [98]:
drinks.head()

country
Afghanistan      NaN
Albania        300.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [99]:
drinks.map({300.0: 3.0}, na_action='ignore')

country
Afghanistan    NaN
Albania        3.0
Algeria        NaN
Andorra        NaN
Angola         NaN
              ...
Venezuela      NaN
Vietnam        NaN
Yemen          NaN
Zambia         NaN
Zimbabwe       NaN
Name: wine_servings, Length: 193, dtype: float64

In [100]:
beers = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/slides/3. Series Methods And Handling/drinks.csv",
                     usecols=['country', 'beer_servings'], index_col='country', squeeze=True)

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_2254/1442878427.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  beers = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/slides/3. Series Methods And Handling/drinks.csv",

In [101]:
beers.mean()

102.87078651685393

In [102]:
beers.median()

60.0

In [103]:
beers.std()

100.6457126793478

In [104]:
z_scores = (beers[:10] - beers.mean())/beers.std()

In [105]:
z_scores

country
Afghanistan               NaN
Albania             -0.137818
Algeria             -0.773712
Andorra              1.412174
Angola               1.133970
Antigua & Barbuda   -0.902878
Argentina            0.895510
Armenia             -0.813455
Australia            1.571147
Austria              1.749992
Name: beer_servings, dtype: float64

In [106]:
z_scores.ndim

1

In [107]:
z_scores.shape

(10,)

In [108]:
names = ['Olga', 'Andrew', 'Brian', 'Telulah', 'Nicole', 'Tilda']
ages = [29, 21, 45, 23, 39, 46]
married = [False, True, True, True, False, True]
dict_names = {k:v for k,v in enumerate(names)}

In [109]:
dict_names

{0: 'Olga', 1: 'Andrew', 2: 'Brian', 3: 'Telulah', 4: 'Nicole', 5: 'Tilda'}

In [110]:
dict_ages = {k:v for k,v in enumerate(ages)}
dict_married = {k:v for k,v in enumerate(married)}

In [111]:
dict_m2 = dict(enumerate(ages))

In [112]:
dict_m2

{0: 29, 1: 21, 2: 45, 3: 23, 4: 39, 5: 46}

In [113]:
import pandas as pd

In [114]:
df = pd.DataFrame({'names': dict_names, 'ages': dict_ages, 'married': dict_married})

In [115]:
df

     names  ages  married
0     Olga    29    False
1   Andrew    21     True
2    Brian    45     True
3  Telulah    23     True
4   Nicole    39    False
5    Tilda    46     True

In [116]:
rowwise = [{'name': name, 'age': age, 'married': married} for name, age, married in zip(names, ages, married)]

In [117]:
rowwise

[{'name': 'Olga', 'age': 29, 'married': False},
 {'name': 'Andrew', 'age': 21, 'married': True},
 {'name': 'Brian', 'age': 45, 'married': True},
 {'name': 'Telulah', 'age': 23, 'married': True},
 {'name': 'Nicole', 'age': 39, 'married': False},
 {'name': 'Tilda', 'age': 46, 'married': True}]

In [118]:
df = pd.DataFrame(rowwise)

In [119]:
df

      name  age  married
0     Olga   29    False
1   Andrew   21     True
2    Brian   45     True
3  Telulah   23     True
4   Nicole   39    False
5    Tilda   46     True

In [120]:
url = 'https://andybek.com/pandas-nutrition'

nutrition = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/nutrition.csv",)

In [121]:
nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Data columns (total 77 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   8789 non-null   int64
 1   name                         8789 non-null   object
 2   serving_size                 8789 non-null   object
 3   calories                     8789 non-null   int64
 4   total_fat                    8789 non-null   object
 5   saturated_fat                7199 non-null   object
 6   cholesterol                  8789 non-null   object
 7   sodium                       8789 non-null   object
 8   choline                      8789 non-null   object
 9   folate                       8789 non-null   object
 10  folic_acid                   8789 non-null   object
 11  niacin                       8789 non-null   object
 12  pantothenic_acid             8789 non-null   object
 13  riboflavin                   8789 non-null   object
 14  thiamin                      8789 non-null   object
 15  vitamin_a                    8789 non-null   object
 16  vitamin_a_rae                8789 non-null   object
 17  carotene_alpha               8789 non-null   object
 18  carotene_beta                8789 non-null   object
 19  cryptoxanthin_beta           8789 non-null   object
 20  lutein_zeaxanthin            8789 non-null   object
 21  lucopene                     8789 non-null   int64
 22  vitamin_b12                  8789 non-null   object
 23  vitamin_b6                   8789 non-null   object
 24  vitamin_c                    8789 non-null   object
 25  vitamin_d                    8789 non-null   object
 26  vitamin_e                    8789 non-null   object
 27  tocopherol_alpha             8789 non-null   object
 28  vitamin_k                    8789 non-null   object
 29  calcium                      8789 non-null   object
 30  copper                       8789 non-null   object
 31  irom                         8789 non-null   object
 32  magnesium                    8789 non-null   object
 33  manganese                    8789 non-null   object
 34  phosphorous                  8789 non-null   object
 35  potassium                    8789 non-null   object
 36  selenium                     8789 non-null   object
 37  zink                         8789 non-null   object
 38  protein                      8789 non-null   object
 39  alanine                      8789 non-null   object
 40  arginine                     8789 non-null   object
 41  aspartic_acid                8789 non-null   object
 42  cystine                      8789 non-null   object
 43  glutamic_acid                8789 non-null   object
 44  glycine                      8789 non-null   object
 45  histidine                    8789 non-null   object
 46  hydroxyproline               8789 non-null   object
 47  isoleucine                   8789 non-null   object
 48  leucine                      8789 non-null   object
 49  lysine                       8789 non-null   object
 50  methionine                   8789 non-null   object
 51  phenylalanine                8789 non-null   object
 52  proline                      8789 non-null   object
 53  serine                       8789 non-null   object
 54  threonine                    8789 non-null   object
 55  tryptophan                   8789 non-null   object
 56  tyrosine                     8789 non-null   object
 57  valine                       8789 non-null   object
 58  carbohydrate                 8789 non-null   object
 59  fiber                        8789 non-null   object
 60  sugars                       8789 non-null   object
 61  fructose                     8789 non-null   object
 62  galactose                    8789 non-null   object
 63  glucose                      8789 non-null   object
 64  lactose                      8789 non-null   object
 65  maltose                      8789 non-null   object
 66  sucrose                      8789 non-null   object
 67  fat                          8789 non-null   object
 68  saturated_fatty_acids        8789 non-null   object
 69  monounsaturated_fatty_acids  8789 non-null   object
 70  polyunsaturated_fatty_acids  8789 non-null   object
 71  fatty_acids_total_trans      8789 non-null   object
 72  alcohol                      8789 non-null   object
 73  ash                          8789 non-null   object
 74  caffeine                     8789 non-null   object
 75  theobromine                  8789 non-null   object
 76  water                        8789 non-null   object
dtypes: int64(3), object(74)
memory usage: 5.2+ MB

In [122]:
nutrition.head()

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,3,"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,4,"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [123]:
nutrition.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Columns: 77 entries, Unnamed: 0 to water
dtypes: int64(3), object(74)
memory usage: 39.2 MB

In [124]:
nutrition.drop('Unnamed: 0', axis=1, inplace=True)

In [125]:
nutrition.drop(0)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g
5,"Cauliflower, raw",100 g,25,0.3g,0.1g,0,30.00 mg,44.3 mg,57.00 mcg,0.00 mcg,...,0.28 g,0.130 g,0.034 g,0.031 g,0.00 mg,0.0 g,0.76 g,0.00 mg,0.00 mg,92.07 g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8784,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,125,3.5g,1.4g,62mg,54.00 mg,64.5 mg,4.00 mcg,0.00 mcg,...,3.50 g,1.353 g,1.554 g,0.244 g,62.00 mg,0.0 g,1.11 g,0.00 mg,0.00 mg,72.51 g
8785,"Lamb, cooked, separable lean only, composite o...",100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g
8786,"Lamb, raw, separable lean and fat, composite o...",100 g,277,23g,12g,78mg,39.00 mg,0,1.00 mcg,0.00 mcg,...,22.74 g,11.570 g,8.720 g,0.980 g,78.00 mg,0,0.92 g,0,0,59.80 g
8787,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,0.00 mcg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g
8788,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,0.00 mcg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g

In [127]:
nutrition

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8784,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,125,3.5g,1.4g,62mg,54.00 mg,64.5 mg,4.00 mcg,0.00 mcg,...,3.50 g,1.353 g,1.554 g,0.244 g,62.00 mg,0.0 g,1.11 g,0.00 mg,0.00 mg,72.51 g
8785,"Lamb, cooked, separable lean only, composite o...",100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g
8786,"Lamb, raw, separable lean and fat, composite o...",100 g,277,23g,12g,78mg,39.00 mg,0,1.00 mcg,0.00 mcg,...,22.74 g,11.570 g,8.720 g,0.980 g,78.00 mg,0,0.92 g,0,0,59.80 g
8787,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,0.00 mcg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g
8788,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,0.00 mcg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g

In [128]:
#nutrition = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/nutrition.csv",)
nut = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/nutrition.csv", index_col=[0])

In [129]:
nut.head()

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [130]:
nut1 = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/nutrition.csv", index_col=['Unnamed: 0'])

In [131]:
nut1

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8784,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,125,3.5g,1.4g,62mg,54.00 mg,64.5 mg,4.00 mcg,0.00 mcg,...,3.50 g,1.353 g,1.554 g,0.244 g,62.00 mg,0.0 g,1.11 g,0.00 mg,0.00 mg,72.51 g
8785,"Lamb, cooked, separable lean only, composite o...",100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g
8786,"Lamb, raw, separable lean and fat, composite o...",100 g,277,23g,12g,78mg,39.00 mg,0,1.00 mcg,0.00 mcg,...,22.74 g,11.570 g,8.720 g,0.980 g,78.00 mg,0,0.92 g,0,0,59.80 g
8787,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,0.00 mcg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g
8788,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,0.00 mcg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g

In [133]:
nutrition

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8784,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,125,3.5g,1.4g,62mg,54.00 mg,64.5 mg,4.00 mcg,0.00 mcg,...,3.50 g,1.353 g,1.554 g,0.244 g,62.00 mg,0.0 g,1.11 g,0.00 mg,0.00 mg,72.51 g
8785,"Lamb, cooked, separable lean only, composite o...",100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g
8786,"Lamb, raw, separable lean and fat, composite o...",100 g,277,23g,12g,78mg,39.00 mg,0,1.00 mcg,0.00 mcg,...,22.74 g,11.570 g,8.720 g,0.980 g,78.00 mg,0,0.92 g,0,0,59.80 g
8787,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,0.00 mcg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g
8788,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,0.00 mcg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g

In [134]:
nutrition.sample()

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8237,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,182,12g,4.8g,69mg,76.00 mg,69.8 mg,3.00 mcg,0.00 mcg,...,11.64 g,4.831 g,5.643 g,0.579 g,69.00 mg,0.0 g,0.90 g,0.00 mg,0.00 mg,68.11 g

In [135]:
nutrition.sample(3)

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
7893,"Cranberry juice cocktail, saccharin and corn s...",100 g,19,0g,NaN,0,3.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.01 g,0.000 g,0.000 g,0.000 g,0.00 mg,0.0 g,0.18 g,0.00 mg,0.00 mg,95.20 g
5177,"KEEBLER, Holiday/Spiderman, Fudge Stripes, FUD...",100 g,498,24g,15g,1mg,271.00 mg,0,72.00 mcg,0,...,23.60 g,14.800 g,2.700 g,5.100 g,1.00 mg,0,0,0,0,2.00 g
6338,"Apricots, solids and liquids, without skin, he...",100 g,83,0.1g,NaN,0,11.00 mg,0,2.00 mcg,0.00 mcg,...,0.09 g,0.006 g,0.037 g,0.017 g,0.00 mg,0,0.29 g,0,0,77.66 g

In [136]:
my_sample = nutrition.sample(5, replace=True)
my_sample

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
6200,"Beans, with salt, boiled, cooked, mature seeds...",100 g,124,0.1g,NaN,0,240.00 mg,0,74.00 mcg,0.00 mcg,...,0.09 g,0.014 g,0.007 g,0.052 g,0.00 mg,0,1.44 g,0,0,66.93 g
5745,"ON THE BORDER, cheese and lettuce, soft taco w...",100 g,229,11g,4.8g,30mg,646.00 mg,0,40.00 mcg,0,...,11.05 g,4.848 g,4.464 g,1.015 g,30.00 mg,0,2.65 g,0,0,53.83 g
6971,"Infant formula, ready-to-feed, DHA and ARA, wi...",100 g,66,3.4g,1.5g,4mg,18.00 mg,8.0 mg,10.00 mcg,10.00 mcg,...,3.37 g,1.470 g,1.080 g,0.740 g,4.00 mg,0.0 g,0.29 g,0.00 mg,0.00 mg,87.50 g
1847,"Refried beans, fat-free, canned",100 g,79,0.5g,0.1g,0,438.00 mg,20.3 mg,57.00 mcg,0.00 mcg,...,0.45 g,0.093 g,0.044 g,0.287 g,0.00 mg,0.0 g,2.01 g,0.00 mg,0.00 mg,78.69 g
2082,"Taro, with salt, steamed, cooked, leaves",100 g,24,0.4g,0.1g,0,238.00 mg,0,48.00 mcg,0.00 mcg,...,0.41 g,0.083 g,0.033 g,0.168 g,0.00 mg,0,0.83 g,0,0,92.15 g

In [137]:
nutrition.axes

[RangeIndex(start=0, stop=8789, step=1),
 Index(['name', 'serving_size', 'calories', 'total_fat', 'saturated_fat',
        'cholesterol', 'sodium', 'choline', 'folate', 'folic_acid', 'niacin',
        'pantothenic_acid', 'riboflavin', 'thiamin', 'vitamin_a',
        'vitamin_a_rae', 'carotene_alpha', 'carotene_beta',
        'cryptoxanthin_beta', 'lutein_zeaxanthin', 'lucopene', 'vitamin_b12',
        'vitamin_b6', 'vitamin_c', 'vitamin_d', 'vitamin_e', 'tocopherol_alpha',
        'vitamin_k', 'calcium', 'copper', 'irom', 'magnesium', 'manganese',
        'phosphorous', 'potassium', 'selenium', 'zink', 'protein', 'alanine',
        'arginine', 'aspartic_acid', 'cystine', 'glutamic_acid', 'glycine',
        'histidine', 'hydroxyproline', 'isoleucine', 'leucine', 'lysine',
        'methionine', 'phenylalanine', 'proline', 'serine', 'threonine',
        'tryptophan', 'tyrosine', 'valine', 'carbohydrate', 'fiber', 'sugars',
        'fructose', 'galactose', 'glucose', 'lactose', 'maltose', 'sucrose',
        'fat', 'saturated_fatty_acids', 'monounsaturated_fatty_acids',
        'polyunsaturated_fatty_acids', 'fatty_acids_total_trans', 'alcohol',
        'ash', 'caffeine', 'theobromine', 'water'],
       dtype='object')]

In [138]:
nutrition.head()

,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [139]:
nutrition.iloc[2]['name']

'Eggplant, raw'

In [140]:
nutrition.axes

[RangeIndex(start=0, stop=8789, step=1),
 Index(['name', 'serving_size', 'calories', 'total_fat', 'saturated_fat',
        'cholesterol', 'sodium', 'choline', 'folate', 'folic_acid', 'niacin',
        'pantothenic_acid', 'riboflavin', 'thiamin', 'vitamin_a',
        'vitamin_a_rae', 'carotene_alpha', 'carotene_beta',
        'cryptoxanthin_beta', 'lutein_zeaxanthin', 'lucopene', 'vitamin_b12',
        'vitamin_b6', 'vitamin_c', 'vitamin_d', 'vitamin_e', 'tocopherol_alpha',
        'vitamin_k', 'calcium', 'copper', 'irom', 'magnesium', 'manganese',
        'phosphorous', 'potassium', 'selenium', 'zink', 'protein', 'alanine',
        'arginine', 'aspartic_acid', 'cystine', 'glutamic_acid', 'glycine',
        'histidine', 'hydroxyproline', 'isoleucine', 'leucine', 'lysine',
        'methionine', 'phenylalanine', 'proline', 'serine', 'threonine',
        'tryptophan', 'tyrosine', 'valine', 'carbohydrate', 'fiber', 'sugars',
        'fructose', 'galactose', 'glucose', 'lactose', 'maltose', 'sucrose',
        'fat', 'saturated_fatty_acids', 'monounsaturated_fatty_acids',
        'polyunsaturated_fatty_acids', 'fatty_acids_total_trans', 'alcohol',
        'ash', 'caffeine', 'theobromine', 'water'],
       dtype='object')]

In [141]:
nutrition.index = pd.RangeIndex(start=0, stop=8789, step=1)

In [142]:
nutrition.set_index('name', inplace=True)

In [143]:
nutrition.head()

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,,,,,,,,,,,,,,,,,,,,,
Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,0.649 mg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,3.363 mg,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,0.063 mg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [144]:
nutrition.loc['Cornstarch']['calories']

381

In [145]:
nutrition.loc['Cornstarch', 'calories']

381

In [146]:
nutrition.iloc[:3, :5]

              serving_size  calories total_fat saturated_fat cholesterol
name
Cornstarch           100 g       381      0.1g           NaN           0
Nuts, pecans         100 g       691       72g          6.2g           0
Eggplant, raw        100 g        25      0.2g           NaN           0

In [147]:
nutrition.loc[:'Eggplant, raw', :'cholesterol']

              serving_size  calories total_fat saturated_fat cholesterol
name
Cornstarch           100 g       381      0.1g           NaN           0
Nuts, pecans         100 g       691       72g          6.2g           0
Eggplant, raw        100 g        25      0.2g           NaN           0

In [148]:
nutrition.loc[['Nuts, pecans', 'Eggplant, raw'], ['calories', 'cholesterol', 'serving_size']]

               calories cholesterol serving_size
name
Nuts, pecans        691           0        100 g
Eggplant, raw        25           0        100 g

In [149]:
nutrition.iloc[[1, 5, 6], [5,8,9]]

                    sodium folic_acid    niacin
name
Nuts, pecans       0.00 mg   0.00 mcg  1.167 mg
Cauliflower, raw  30.00 mg   0.00 mcg  0.507 mg
Taro leaves, raw   3.00 mg   0.00 mcg  1.513 mg

In [151]:
nutrition.head()

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,,,,,,,,,,,,,,,,,,,,,
Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,0.649 mg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,3.363 mg,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,0.063 mg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [152]:
nutrition.index = pd.RangeIndex(start=0, stop=len(nutrition), step=1)

In [153]:
nutrition

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,0.649 mg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,3.363 mg,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,0.063 mg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8784,100 g,125,3.5g,1.4g,62mg,54.00 mg,64.5 mg,4.00 mcg,0.00 mcg,6.422 mg,...,3.50 g,1.353 g,1.554 g,0.244 g,62.00 mg,0.0 g,1.11 g,0.00 mg,0.00 mg,72.51 g
8785,100 g,206,8.9g,3.9g,109mg,50.00 mg,0,0.00 mcg,0.00 mcg,7.680 mg,...,8.86 g,3.860 g,3.480 g,0.520 g,109.00 mg,0,1.60 g,0,0,59.95 g
8786,100 g,277,23g,12g,78mg,39.00 mg,0,1.00 mcg,0.00 mcg,6.550 mg,...,22.74 g,11.570 g,8.720 g,0.980 g,78.00 mg,0,0.92 g,0,0,59.80 g
8787,100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,0.00 mcg,6.720 mg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g
8788,100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,0.00 mcg,6.720 mg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g

In [154]:
nutrition.loc[0:5, ['sodium', 'choline']]

     sodium  choline
0   9.00 mg   0.4 mg
1   0.00 mg  40.5 mg
2   2.00 mg   6.9 mg
3  12.00 mg  13.1 mg
4  46.00 mg   7.7 mg
5  30.00 mg  44.3 mg

In [155]:
nutrition[0:5][['sodium', 'choline']]

     sodium  choline
0   9.00 mg   0.4 mg
1   0.00 mg  40.5 mg
2   2.00 mg   6.9 mg
3  12.00 mg  13.1 mg
4  46.00 mg   7.7 mg

In [156]:
%timeit nutrition.at[3, 'calories']

9.3 µs ± 2.16 µs per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [157]:
%timeit nutrition.loc[3, 'calories']

10.7 µs ± 883 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [158]:
nutr_minimum = nutrition.sample(10)

In [159]:
nutr_minimum

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
7976,100 g,64,3.5g,1.5g,0,23.00 mg,8.0 mg,11.00 mcg,11.00 mcg,0.660 mg,...,3.50 g,1.453 g,1.255 g,0.671 g,0.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,88.35 g
2411,100 g,14,0g,NaN,0,6.00 mg,0.0 mg,0.00 mcg,0.00 mcg,0.005 mg,...,0.04 g,0.000 g,0.000 g,0.000 g,0.00 mg,0.0 g,0.11 g,0.00 mg,0.00 mg,96.26 g
305,100 g,18,0g,NaN,0,2.00 mg,0.0 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.00 g,0.000 g,0.000 g,0.000 g,0.00 mg,0.0 g,0.02 g,0.00 mg,0.00 mg,94.78 g
2100,100 g,52,1.8g,0.6g,63mg,33.00 mg,0,3.00 mcg,0.00 mcg,0.048 mg,...,1.80 g,0.610 g,0.790 g,0.300 g,63.00 mg,0.0 g,0.40 g,0,0,88.70 g
2303,100 g,468,23g,3.2g,0,15.00 mg,0,105.00 mcg,99.00 mcg,1.350 mg,...,22.60 g,3.245 g,8.934 g,8.494 g,0.00 mg,0,1.80 g,0,0,6.00 g
3846,100 g,385,0.4g,0.1g,0,855.00 mg,4.7 mg,323.00 mcg,289.00 mcg,32.250 mg,...,0.35 g,0.093 g,0.084 g,0.157 g,0.00 mg,0.0 g,3.24 g,0.00 mg,0.00 mg,2.50 g
927,100 g,442,17g,8.5g,0,95.00 mg,0,42.00 mcg,0.00 mcg,1.482 mg,...,17.10 g,8.480 g,2.490 g,5.160 g,0.00 mg,0,2.00 g,0,0,9.00 g
478,100 g,87,0.7g,0.1g,41mg,31.00 mg,0,2.00 mcg,0.00 mcg,2.686 mg,...,0.69 g,0.130 g,0.090 g,0.280 g,41.00 mg,0,1.25 g,0,0,76.35 g
2807,100 g,213,14g,2.4g,1mg,671.00 mg,0,0,0,7.100 mg,...,13.50 g,2.400 g,5.400 g,5.600 g,1.00 mg,0,1.90 g,0,0,61.70 g
1295,100 g,352,2.9g,0.4g,0,6.00 mg,0,69.00 mcg,0.00 mcg,8.691 mg,...,2.93 g,0.428 g,0.361 g,1.136 g,0.00 mg,0,1.62 g,0,0,8.21 g

In [160]:
nutr_mini = nutr_minimum.loc[:, ['total_fat', 'cholesterol']]

In [161]:
nutr_mini

     total_fat cholesterol
7976      3.5g           0
2411        0g           0
305         0g           0
2100      1.8g        63mg
2303       23g           0
3846      0.4g           0
927        17g           0
478       0.7g        41mg
2807       14g         1mg
1295      2.9g           0

In [162]:
x = nutr_minimum.index[2]
a = nutr_minimum.loc[:x, 'vitamin_b12':]

In [163]:
b = nutr_minimum.at[x, 'calories']

In [164]:
b

18

In [165]:
nutrition.head()

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,0.649 mg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,3.363 mg,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,0.063 mg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [166]:
nutrition.mode()

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,100 g,884,0g,0.1g,0,0.00 mg,0,0,0.00 mcg,0,...,0.00 g,0.000 g,0,0,0.00 mg,0.0 g,0,0.00 mg,0.00 mg,2.50 g

In [167]:
df

      name  age  married
0     Olga   29    False
1   Andrew   21     True
2    Brian   45     True
3  Telulah   23     True
4   Nicole   39    False
5    Tilda   46     True

In [168]:
df.rename(index={0: 'Piccachu'}, inplace=True)

In [169]:
df

             name  age  married
Piccachu     Olga   29    False
1          Andrew   21     True
2           Brian   45     True
3         Telulah   23     True
4          Nicole   39    False
5           Tilda   46     True

In [170]:
df.rename(columns={'age': 'Age in years'}, inplace=True)

In [171]:
df

             name  Age in years  married
Piccachu     Olga            29    False
1          Andrew            21     True
2           Brian            45     True
3         Telulah            23     True
4          Nicole            39    False
5           Tilda            46     True

In [172]:
import numpy as np
df.loc[2, 'Age in years'] = np.nan

In [173]:
df

             name  Age in years  married
Piccachu     Olga          29.0    False
1          Andrew          21.0     True
2           Brian           NaN     True
3         Telulah          23.0     True
4          Nicole          39.0    False
5           Tilda          46.0     True

In [174]:
df.loc[2, :] = np.nan

In [175]:
df.loc[3:, 'Age in years'] = np.nan

In [176]:
df

             name  Age in years married
Piccachu     Olga          29.0   False
1          Andrew          21.0    True
2             NaN           NaN     NaN
3         Telulah           NaN    True
4          Nicole           NaN   False
5           Tilda           NaN    True

In [177]:
df.dropna(how='all', axis=1)

             name  Age in years married
Piccachu     Olga          29.0   False
1          Andrew          21.0    True
2             NaN           NaN     NaN
3         Telulah           NaN    True
4          Nicole           NaN   False
5           Tilda           NaN    True

In [178]:
#df
df.dropna(thresh=6, axis=1)

Empty DataFrame
Columns: []
Index: [Piccachu, 1, 2, 3, 4, 5]

In [179]:
df

             name  Age in years married
Piccachu     Olga          29.0   False
1          Andrew          21.0    True
2             NaN           NaN     NaN
3         Telulah           NaN    True
4          Nicole           NaN   False
5           Tilda           NaN    True

In [180]:
df.dropna(axis=1, subset=[5,2])

Empty DataFrame
Columns: []
Index: [Piccachu, 1, 2, 3, 4, 5]

In [181]:
nutrition.head()

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,0.649 mg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,3.363 mg,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,0.063 mg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [182]:
nut_no_letters = nutrition.astype(str).replace('[^a-zA-z]', '', regex=True)
units = nut_no_letters.mode()

In [183]:
units = units.replace('', np.nan).dropna(axis=1)
mapper = {k: k + '_' + units[k].at[0] for k in units}
mapper

{'serving_size': 'serving_size_g',
 'total_fat': 'total_fat_g',
 'saturated_fat': 'saturated_fat_g',
 'cholesterol': 'cholesterol_mg',
 'sodium': 'sodium_mg',
 'choline': 'choline_mg',
 'folate': 'folate_mcg',
 'folic_acid': 'folic_acid_mcg',
 'niacin': 'niacin_mg',
 'pantothenic_acid': 'pantothenic_acid_mg',
 'riboflavin': 'riboflavin_mg',
 'thiamin': 'thiamin_mg',
 'vitamin_a': 'vitamin_a_IU',
 'vitamin_a_rae': 'vitamin_a_rae_mcg',
 'carotene_alpha': 'carotene_alpha_mcg',
 'carotene_beta': 'carotene_beta_mcg',
 'cryptoxanthin_beta': 'cryptoxanthin_beta_mcg',
 'lutein_zeaxanthin': 'lutein_zeaxanthin_mcg',
 'vitamin_b12': 'vitamin_b12_mcg',
 'vitamin_b6': 'vitamin_b6_mg',
 'vitamin_c': 'vitamin_c_mg',
 'vitamin_d': 'vitamin_d_IU',
 'vitamin_e': 'vitamin_e_mg',
 'tocopherol_alpha': 'tocopherol_alpha_mg',
 'vitamin_k': 'vitamin_k_mcg',
 'calcium': 'calcium_mg',
 'copper': 'copper_mg',
 'irom': 'irom_mg',
 'magnesium': 'magnesium_mg',
 'manganese': 'manganese_mg',
 'phosphorous': 'phosphorous_mg',
 'potassium': 'potassium_mg',
 'selenium': 'selenium_mcg',
 'zink': 'zink_mg',
 'protein': 'protein_g',
 'alanine': 'alanine_g',
 'arginine': 'arginine_g',
 'aspartic_acid': 'aspartic_acid_g',
 'cystine': 'cystine_g',
 'glutamic_acid': 'glutamic_acid_g',
 'glycine': 'glycine_g',
 'histidine': 'histidine_g',
 'isoleucine': 'isoleucine_g',
 'leucine': 'leucine_g',
 'lysine': 'lysine_g',
 'methionine': 'methionine_g',
 'phenylalanine': 'phenylalanine_g',
 'proline': 'proline_g',
 'serine': 'serine_g',
 'threonine': 'threonine_g',
 'tryptophan': 'tryptophan_g',
 'tyrosine': 'tyrosine_g',
 'valine': 'valine_g',
 'carbohydrate': 'carbohydrate_g',
 'fiber': 'fiber_g',
 'sugars': 'sugars_g',
 'fat': 'fat_g',
 'saturated_fatty_acids': 'saturated_fatty_acids_g',
 'monounsaturated_fatty_acids': 'monounsaturated_fatty_acids_g',
 'polyunsaturated_fatty_acids': 'polyunsaturated_fatty_acids_g',
 'fatty_acids_total_trans': 'fatty_acids_total_trans_mg',
 'alcohol': 'alcohol_g',
 'ash': 'ash_g',
 'caffeine': 'caffeine_mg',
 'theobromine': 'theobromine_mg',
 'water': 'water_g'}

In [184]:
nutrition.rename(columns=mapper, inplace=True)

In [185]:
nutrition.head()

,serving_size_g,calories,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_mg,choline_mg,folate_mcg,folic_acid_mcg,niacin_mg,...,fat_g,saturated_fatty_acids_g,monounsaturated_fatty_acids_g,polyunsaturated_fatty_acids_g,fatty_acids_total_trans_mg,alcohol_g,ash_g,caffeine_mg,theobromine_mg,water_g
0,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,0.00 mcg,0.649 mg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,0,3.363 mg,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,0.00 mcg,0.063 mg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [186]:
nutrition.replace('[a-zA-z]', '', regex=True, inplace=True)

In [187]:
nutrition = nutrition.astype(float)

In [188]:
nutrition.dtypes

serving_size_g     float64
calories           float64
total_fat_g        float64
saturated_fat_g    float64
cholesterol_mg     float64
                    ...
alcohol_g          float64
ash_g              float64
caffeine_mg        float64
theobromine_mg     float64
water_g            float64
Length: 75, dtype: object

In [189]:
nutrition.dtypes.value_counts()

float64    75
dtype: int64

In [190]:
nutrition.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Columns: 75 entries, serving_size_g to water_g
dtypes: float64(75)
memory usage: 5.0 MB

In [195]:
nutrition.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Columns: 75 entries, serving_size_g to water_g
dtypes: float64(75)
memory usage: 5.0 MB

In [196]:
nut2 = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/nutrition.csv")

In [197]:
nut2.head()

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,3,"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,4,"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [198]:
nutrition.head()

,serving_size_g,calories,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_mg,choline_mg,folate_mcg,folic_acid_mcg,niacin_mg,...,fat_g,saturated_fatty_acids_g,monounsaturated_fatty_acids_g,polyunsaturated_fatty_acids_g,fatty_acids_total_trans_mg,alcohol_g,ash_g,caffeine_mg,theobromine_mg,water_g
0,100.0,381.0,0.1,NaN,0.0,9.0,0.4,0.0,0.0,0.000,...,0.05,0.009,0.016,0.025,0.0,0.0,0.09,0.0,0.0,8.32
1,100.0,691.0,72.0,6.2,0.0,0.0,40.5,22.0,0.0,1.167,...,71.97,6.180,40.801,21.614,0.0,0.0,1.49,0.0,0.0,3.52
2,100.0,25.0,0.2,NaN,0.0,2.0,6.9,22.0,0.0,0.649,...,0.18,0.034,0.016,0.076,0.0,0.0,0.66,0.0,0.0,92.30
3,100.0,367.0,2.4,0.4,0.0,12.0,13.1,0.0,0.0,3.363,...,2.38,0.449,0.589,1.071,0.0,0.0,2.37,0.0,0.0,8.82
4,100.0,144.0,2.0,1.2,1.0,46.0,7.7,4.0,0.0,0.063,...,2.00,1.160,0.530,0.080,1.0,0.0,0.40,0.0,0.0,66.10

In [199]:
nutrition.index = nut2.name

In [200]:
nutrition.head()

,serving_size_g,calories,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_mg,choline_mg,folate_mcg,folic_acid_mcg,niacin_mg,...,fat_g,saturated_fatty_acids_g,monounsaturated_fatty_acids_g,polyunsaturated_fatty_acids_g,fatty_acids_total_trans_mg,alcohol_g,ash_g,caffeine_mg,theobromine_mg,water_g
name,,,,,,,,,,,,,,,,,,,,,
Cornstarch,100.0,381.0,0.1,NaN,0.0,9.0,0.4,0.0,0.0,0.000,...,0.05,0.009,0.016,0.025,0.0,0.0,0.09,0.0,0.0,8.32
"Nuts, pecans",100.0,691.0,72.0,6.2,0.0,0.0,40.5,22.0,0.0,1.167,...,71.97,6.180,40.801,21.614,0.0,0.0,1.49,0.0,0.0,3.52
"Eggplant, raw",100.0,25.0,0.2,NaN,0.0,2.0,6.9,22.0,0.0,0.649,...,0.18,0.034,0.016,0.076,0.0,0.0,0.66,0.0,0.0,92.30
"Teff, uncooked",100.0,367.0,2.4,0.4,0.0,12.0,13.1,0.0,0.0,3.363,...,2.38,0.449,0.589,1.071,0.0,0.0,2.37,0.0,0.0,8.82
"Sherbet, orange",100.0,144.0,2.0,1.2,1.0,46.0,7.7,4.0,0.0,0.063,...,2.00,1.160,0.530,0.080,1.0,0.0,0.40,0.0,0.0,66.10

In [203]:
nutrition.filter(like='octopus', axis=0)

,serving_size_g,calories,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_mg,choline_mg,folate_mcg,folic_acid_mcg,niacin_mg,...,fat_g,saturated_fatty_acids_g,monounsaturated_fatty_acids_g,polyunsaturated_fatty_acids_g,fatty_acids_total_trans_mg,alcohol_g,ash_g,caffeine_mg,theobromine_mg,water_g
name,,,,,,,,,,,,,,,,,,,,,
"Mollusks, raw, common, octopus",100.0,82.0,1.0,0.2,48.0,230.0,65.0,16.0,0.0,2.10,...,1.04,0.227,0.162,0.239,48.0,0.0,1.6,0.0,0.0,80.25
"Mollusks, moist heat, cooked, common, octopus",100.0,164.0,2.1,0.5,96.0,460.0,81.0,24.0,0.0,3.78,...,2.08,0.453,0.324,0.477,96.0,0.0,3.2,0.0,0.0,60.50

In [206]:
nutrition.filter(regex='/*ctopus', axis=0)

,serving_size_g,calories,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_mg,choline_mg,folate_mcg,folic_acid_mcg,niacin_mg,...,fat_g,saturated_fatty_acids_g,monounsaturated_fatty_acids_g,polyunsaturated_fatty_acids_g,fatty_acids_total_trans_mg,alcohol_g,ash_g,caffeine_mg,theobromine_mg,water_g
name,,,,,,,,,,,,,,,,,,,,,
Octopus (Alaska Native),100.0,56.0,0.8,0.2,41.0,0.0,0.0,0.0,0.0,2.00,...,0.80,0.200,0.000,0.200,41.0,0.0,1.5,0.0,0.0,84.00
"Mollusks, raw, common, octopus",100.0,82.0,1.0,0.2,48.0,230.0,65.0,16.0,0.0,2.10,...,1.04,0.227,0.162,0.239,48.0,0.0,1.6,0.0,0.0,80.25
"Mollusks, moist heat, cooked, common, octopus",100.0,164.0,2.1,0.5,96.0,460.0,81.0,24.0,0.0,3.78,...,2.08,0.453,0.324,0.477,96.0,0.0,3.2,0.0,0.0,60.50

In [208]:
nutrition.filter(regex='(?i)octopus', axis=0)

,serving_size_g,calories,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_mg,choline_mg,folate_mcg,folic_acid_mcg,niacin_mg,...,fat_g,saturated_fatty_acids_g,monounsaturated_fatty_acids_g,polyunsaturated_fatty_acids_g,fatty_acids_total_trans_mg,alcohol_g,ash_g,caffeine_mg,theobromine_mg,water_g
name,,,,,,,,,,,,,,,,,,,,,
Octopus (Alaska Native),100.0,56.0,0.8,0.2,41.0,0.0,0.0,0.0,0.0,2.00,...,0.80,0.200,0.000,0.200,41.0,0.0,1.5,0.0,0.0,84.00
"Mollusks, raw, common, octopus",100.0,82.0,1.0,0.2,48.0,230.0,65.0,16.0,0.0,2.10,...,1.04,0.227,0.162,0.239,48.0,0.0,1.6,0.0,0.0,80.25
"Mollusks, moist heat, cooked, common, octopus",100.0,164.0,2.1,0.5,96.0,460.0,81.0,24.0,0.0,3.78,...,2.08,0.453,0.324,0.477,96.0,0.0,3.2,0.0,0.0,60.50

In [210]:
nutrition.filter(regex='(?i)octopus', axis=0).filter(like='cholesterol', axis=1)

                                               cholesterol_mg
name
Octopus (Alaska Native)                                  41.0
Mollusks, raw, common, octopus                           48.0
Mollusks, moist heat, cooked, common, octopus            96.0

In [211]:
nutrition.filter(regex='(?i)octopus', axis=0).loc[:, ['cholesterol_mg', 'serving_size_g', 'calories']]

,cholesterol_mg,serving_size_g,calories
name,,,
Octopus (Alaska Native),41.0,100.0,56.0
"Mollusks, raw, common, octopus",48.0,100.0,82.0
"Mollusks, moist heat, cooked, common, octopus",96.0,100.0,164.0

In [218]:
nutrition.sort_values(by=['cholesterol_mg', 'sodium_mg'], ascending=[False, True])[:5]

,serving_size_g,calories,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_mg,choline_mg,folate_mcg,folic_acid_mcg,niacin_mg,...,fat_g,saturated_fatty_acids_g,monounsaturated_fatty_acids_g,polyunsaturated_fatty_acids_g,fatty_acids_total_trans_mg,alcohol_g,ash_g,caffeine_mg,theobromine_mg,water_g
name,,,,,,,,,,,,,,,,,,,,,
"Beef, simmered, cooked, brain, variety meats and by-products",100.0,151.0,11.0,2.4,3100.0,108.0,490.9,5.0,0.0,3.620,...,10.53,2.394,1.882,1.632,3100.0,0.0,1.46,0.0,0.0,74.86
"Veal, braised, cooked, brain, variety meats and by-products",100.0,136.0,9.6,2.2,3100.0,156.0,0.0,3.0,0.0,2.430,...,9.63,2.180,1.740,1.490,3100.0,0.0,1.40,0.0,0.0,76.89
"Beef, raw, brain, variety meats and by-products",100.0,143.0,10.0,2.3,3010.0,126.0,0.0,3.0,0.0,3.550,...,10.30,2.300,1.890,1.586,3010.0,0.0,1.51,0.0,0.0,76.29
"Lamb, soaked and fried, cooked, brains, imported, New Zealand",100.0,154.0,11.0,1.4,2559.0,101.0,0.0,0.0,0.0,2.995,...,10.92,1.365,4.168,0.999,2559.0,0.0,3.39,0.0,0.0,73.11
"Pork, braised, cooked, brain, variety meats and by-products, fresh",100.0,138.0,9.5,2.2,2552.0,91.0,0.0,4.0,0.0,3.330,...,9.51,2.150,1.720,1.470,2552.0,0.0,1.40,0.0,0.0,75.88

In [220]:
nutrition.loc['Beef, simmered, cooked, brain, variety meats and by-products'].filter(like='_g')

serving_size_g                   100.000
total_fat_g                       11.000
saturated_fat_g                    2.400
protein_g                         11.670
alanine_g                          0.000
arginine_g                         0.000
aspartic_acid_g                    0.000
cystine_g                          0.000
glutamic_acid_g                    0.000
glycine_g                          0.000
histidine_g                        0.000
isoleucine_g                       0.000
leucine_g                          0.000
lysine_g                           0.000
methionine_g                       0.000
phenylalanine_g                    0.000
proline_g                          0.000
serine_g                           0.000
threonine_g                        0.000
tryptophan_g                       0.000
tyrosine_g                         0.000
valine_g                           0.000
carbohydrate_g                     1.480
fiber_g                            0.000
sugars_g                           0.000
fat_g                             10.530
saturated_fatty_acids_g            2.394
monounsaturated_fatty_acids_g      1.882
polyunsaturated_fatty_acids_g      1.632
alcohol_g                          0.000
ash_g                              1.460
water_g                           74.860
Name: Beef, simmered, cooked, brain, variety meats and by-products, dtype: float64

In [221]:
nutrition.calories.between(20, 60)

name
Cornstarch                                                                                            False
Nuts, pecans                                                                                          False
Eggplant, raw                                                                                          True
Teff, uncooked                                                                                        False
Sherbet, orange                                                                                       False
                                                                                                      ...
Beef, raw, all grades, trimmed to 0" fat, separable lean and fat, boneless, top round roast, round    False
Lamb, cooked, separable lean only, composite of trimmed retail cuts, frozen, imported, New Zealand    False
Lamb, raw, separable lean and fat, composite of trimmed retail cuts, frozen, imported, New Zealand    False
Beef, raw, all grades, trimmed to 0" fat, separable lean only, boneless, eye of round roast, round    False
Beef, raw, all grades, trimmed to 0" fat, separable lean only, boneless, eye of round steak, round    False
Name: calories, Length: 8789, dtype: bool

In [222]:
nutrition[nutrition.calories.between(20, 50)].sample(5)

,serving_size_g,calories,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_mg,choline_mg,folate_mcg,folic_acid_mcg,niacin_mg,...,fat_g,saturated_fatty_acids_g,monounsaturated_fatty_acids_g,polyunsaturated_fatty_acids_g,fatty_acids_total_trans_mg,alcohol_g,ash_g,caffeine_mg,theobromine_mg,water_g
name,,,,,,,,,,,,,,,,,,,,,
"Beverages, sweetened, ready-to-drink, green, tea",100.0,27.0,0.2,NaN,0.0,21.0,0.0,0.0,0.0,0.000,...,0.22,0.000,0.000,0.000,0.0,0.0,0.03,5.0,1.0,93.54
"Broccoli, unprepared, spears, frozen",100.0,29.0,0.3,0.1,0.0,17.0,0.0,94.0,0.0,0.462,...,0.34,0.052,0.024,0.162,0.0,0.0,0.70,0.0,0.0,90.55
"Celeriac, raw",100.0,42.0,0.3,0.1,0.0,100.0,9.0,8.0,0.0,0.700,...,0.30,0.079,0.058,0.148,0.0,0.0,1.00,0.0,0.0,88.00
"Grapefruit juice, unsweetened, canned or bottled, white",100.0,34.0,0.1,NaN,0.0,3.0,7.7,10.0,0.0,0.231,...,0.10,0.009,0.010,0.018,0.0,0.0,0.19,0.0,0.0,91.20
"CAMPBELL'S Soup on the Go, Chicken & Stars Soup",100.0,23.0,0.5,0.2,2.0,315.0,0.0,0.0,0.0,0.000,...,0.49,0.164,0.000,0.000,2.0,0.0,1.25,0.0,0.0,94.00

In [227]:
K_to_NA = (nutrition.potassium_mg.replace(0, 1)/nutrition.sodium_mg.replace(0,1)).sort_values(ascending=False)

In [230]:
K_to_NA[K_to_NA.between(13, 18)]

name
Corn, raw, yellow, sweet                                                   18.000000
Corn, raw, white, sweet                                                    18.000000
Blueberries, drained, light syrup, canned                                  18.000000
Peppers, without salt, drained, boiled, chopped, frozen, green, sweet      18.000000
Peppers, without salt, drained, boiled, chopped, frozen, red, sweet        18.000000
                                                                             ...
Cauliflower, raw, green                                                    13.043478
Pears, solids and liquids, heavy syrup pack, canned                        13.000000
Cherries, solids and liquids, extra heavy syrup pack, canned, red, sour    13.000000
Tangerines, light syrup pack, canned, (mandarin oranges)                   13.000000
Honey                                                                      13.000000
Length: 159, dtype: float64

In [231]:
nutrition.nlargest(10, 'calories')

,serving_size_g,calories,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_mg,choline_mg,folate_mcg,folic_acid_mcg,niacin_mg,...,fat_g,saturated_fatty_acids_g,monounsaturated_fatty_acids_g,polyunsaturated_fatty_acids_g,fatty_acids_total_trans_mg,alcohol_g,ash_g,caffeine_mg,theobromine_mg,water_g
name,,,,,,,,,,,,,,,,,,,,,
"Fish oil, cod liver",100.0,902.0,100.0,23.0,570.0,0.0,0.0,0.0,0.0,0.0,...,100.0,22.608,46.711,22.541,570.0,0.0,0.0,0.0,0.0,0.0
"Fish oil, menhaden",100.0,902.0,100.0,30.0,521.0,0.0,0.0,0.0,0.0,0.0,...,100.0,30.427,26.694,34.197,521.0,0.0,0.0,0.0,0.0,0.0
"Fat, mutton tallow",100.0,902.0,100.0,47.0,102.0,0.0,79.8,0.0,0.0,0.0,...,100.0,47.300,40.600,7.800,102.0,0.0,0.0,0.0,0.0,0.0
"Fish oil, sardine",100.0,902.0,100.0,30.0,710.0,0.0,0.0,0.0,0.0,0.0,...,100.0,29.892,33.841,31.867,710.0,0.0,0.0,0.0,0.0,0.0
"Fish oil, herring",100.0,902.0,100.0,21.0,766.0,0.0,0.0,0.0,0.0,0.0,...,100.0,21.290,56.564,15.604,766.0,0.0,0.0,0.0,0.0,0.0
"Fish oil, salmon",100.0,902.0,100.0,20.0,485.0,0.0,0.0,0.0,0.0,0.0,...,100.0,19.872,29.037,40.324,485.0,0.0,0.0,0.0,0.0,0.0
"Fat, beef tallow",100.0,902.0,100.0,50.0,109.0,0.0,79.8,0.0,0.0,0.0,...,100.0,49.800,41.800,4.000,109.0,0.0,0.0,0.0,0.0,0.0
Lard,100.0,902.0,100.0,39.0,95.0,0.0,49.7,0.0,0.0,0.0,...,100.0,39.200,45.100,11.200,95.0,0.0,0.0,0.0,0.0,0.0
"Fish oil, fully hydrogenated, menhaden",100.0,902.0,100.0,96.0,500.0,0.0,0.0,0.0,0.0,0.0,...,100.0,95.600,0.000,0.000,500.0,0.0,0.0,0.0,0.0,0.0
"Fat, chicken",100.0,900.0,100.0,30.0,85.0,0.0,122.4,0.0,0.0,0.0,...,99.8,29.800,44.700,20.900,85.0,0.0,0.0,0.0,0.0,0.2

In [232]:
nutrition.nlargest(10, 'calories').potassium_mg

name
Fish oil, cod liver                       0.0
Fish oil, menhaden                        0.0
Fat, mutton tallow                        0.0
Fish oil, sardine                         0.0
Fish oil, herring                         0.0
Fish oil, salmon                          0.0
Fat, beef tallow                          0.0
Lard                                      0.0
Fish oil, fully hydrogenated, menhaden    0.0
Fat, chicken                              0.0
Name: potassium_mg, dtype: float64

In [239]:
vit_max = nutrition.nlargest(10, 'vitamin_b12_mcg')['vitamin_b12_mcg']
#nutrition.columns

In [240]:
vit_max

name
Mollusks, moist heat, cooked, mixed species, clam                                   98.89
Beef, boiled, cooked, variety meats and by-products liver, imported, New Zealand    96.00
Lamb, raw, liver, variety meats and by-products                                     90.05
Lamb, pan-fried, cooked, liver, variety meats and by-products                       85.70
Veal, braised, cooked, liver, variety meats and by-products                         84.60
Beef, raw, liver, variety meats and by-products, imported, New Zealand              84.50
Beef, pan-fried, cooked, liver, variety meats and by-products                       83.13
Lamb, braised, cooked, kidneys, variety meats and by-products                       78.90
Lamb, braised, cooked, liver, variety meats and by-products                         76.50
Veal, pan-fried, cooked, liver, variety meats and by-products                       72.50
Name: vitamin_b12_mcg, dtype: float64

In [256]:
eggplant = nutrition.filter(regex='(?i)eggplant', axis=0).sodium_mg.nlargest(10)

In [257]:
eggplant

,serving_size_g,calories,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_mg,choline_mg,folate_mcg,folic_acid_mcg,niacin_mg,...,fat_g,saturated_fatty_acids_g,monounsaturated_fatty_acids_g,polyunsaturated_fatty_acids_g,fatty_acids_total_trans_mg,alcohol_g,ash_g,caffeine_mg,theobromine_mg,water_g
name,,,,,,,,,,,,,,,,,,,,,
"Eggplant, raw",100.0,25.0,0.2,NaN,0.0,2.0,6.9,22.0,0.0,0.649,...,0.18,0.034,0.016,0.076,0.0,0.0,0.66,0.0,0.0,92.30
"Eggplant, pickled",100.0,49.0,0.7,0.1,0.0,1674.0,11.9,20.0,0.0,0.660,...,0.70,0.140,0.063,0.294,0.0,0.0,1.73,0.0,0.0,86.90
"Eggplant, with salt, drained, boiled, cooked",100.0,33.0,0.2,NaN,0.0,239.0,9.4,14.0,0.0,0.600,...,0.23,0.044,0.020,0.093,0.0,0.0,1.13,0.0,0.0,89.67
"Eggplant, without salt, drained, boiled, cooked",100.0,35.0,0.2,NaN,0.0,1.0,9.4,14.0,0.0,0.600,...,0.23,0.044,0.020,0.093,0.0,0.0,0.54,0.0,0.0,89.67

In [258]:
nutrition.sample(4).sample(2, axis=1)

,caffeine_mg,carotene_alpha_mcg
name,,
"Nuts, with salt added, plain, cashew butter",0.0,0.0
"Peppers, solids and liquids, canned, green, sweet",0.0,0.0
"Soup, dry, beef flavor, ramen noodle",0.0,0.0
"Nuts, without salt added, with peanuts, oil roasted, mixed nuts",0.0,0.0

In [273]:
ab = nutrition.dropna()

In [274]:
type(ab)

pandas.core.frame.DataFrame

In [275]:
ab.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 7199 entries, Nuts, pecans to Beef, raw, all grades, trimmed to 0" fat, separable lean only, boneless, eye of round steak, round
Columns: 75 entries, serving_size_g to water_g
dtypes: float64(75)
memory usage: 4.2+ MB

In [276]:
nutrition.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 7199 entries, Nuts, pecans to Beef, raw, all grades, trimmed to 0" fat, separable lean only, boneless, eye of round steak, round
Columns: 75 entries, serving_size_g to water_g
dtypes: float64(75)
memory usage: 4.2+ MB

In [286]:
ab[ab['vitamin_c_mg'].between(20, 40)].sort_values(by='calories').iloc[0]

serving_size_g     100.00
calories            18.00
total_fat_g          0.40
saturated_fat_g      0.10
cholesterol_mg       0.00
                    ...
alcohol_g            0.00
ash_g                0.61
caffeine_mg          0.00
theobromine_mg       0.00
water_g             94.10
Name: Asparagus, with salt, drained, boiled, cooked, frozen, Length: 75, dtype: float64

In [281]:
ab.vitamin_c_mg.std()

46.10438522238719

In [290]:
cstd = ab.vitamin_c_mg.std()
cmean = ab.vitamin_c_mg.mean()
res = ab[ab['vitamin_c_mg'].between(cmean + (2*cstd), cmean + (3*cstd))].size

In [291]:
res

1275